DJANGO_SECRET_KEY=replace-with-secure-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
USE_SQLITE=0

POSTGRES_DB=unipath
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CORS_ALLOW_ALL_ORIGINS=1

DEFAULT_ADMIN_USERNAME=AZD
DEFAULT_ADMIN_PASSWORD=azd123456
DEFAULT_ADMIN_EMAIL=azd@unipath.local

USE_FIREBASE=0
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_FILE=
FIREBASE_CREDENTIALS_JSON=
FIREBASE_ADMIN_EMAIL=azd@unipath.local
