DJANGO_SECRET_KEY=replace-with-secure-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
USE_SQLITE=0

POSTGRES_DB=unipath
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CORS_ALLOW_ALL_ORIGINS=1
